!Build/
/MYMETA.*
*.o
*.pm.tdy
*.bs
*.old
/*.gz

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

/.build/

_build/
Build
Build.bat
_build_params

/blib/
/pm_to_blib

.tidyall.d/
dyncall/.hg/
dyncall/test/
dyncall/doc/
*.a
*.config
*.lib
*.tdy
*.dll
Makefile

.vscode/*
.idea/*
eg/debug.pl
**/_Inline/*
eg/plotting.*
SciTE.session
nytprof/*
eg/parse_xml.pl
*.gcda
*.gcov
*.gcov.json.gz
*.exe
*.kdev4
